fastapi==0.124.4
uvicorn==0.38.0
pydantic==2.12.5
python-multipart
python-dotenv
pandas
numpy
scikit-learn
xgboost
joblib
sentence-transformers
torch==2.1.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
groq
python-dotenv
shap
PyJWT==2.8.0