--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.2.1+cpu
torchvision==0.17.1+cpu
sentence-transformers==2.5.1
transformers==4.38.2
fastapi==0.110.0
uvicorn==0.28.0
pydantic==2.6.3
python-multipart
python-dotenv
pandas
numpy
scikit-learn==1.6.1
xgboost
joblib
groq
python-dotenv
shap
PyJWT==2.8.0